# LFS
# soil
data/soil/cpd_data_soil_all_data.tsv filter=lfs diff=lfs merge=lfs -text
data/soil/full_data_soil_all_data.tsv filter=lfs diff=lfs merge=lfs -text
data/soil/TP_soil_without_DT50.tsv filter=lfs diff=lfs merge=lfs -text
data/soil/raw_data_soil_all_data.tsv filter=lfs diff=lfs merge=lfs -text
data/soil/raw_data_soil_25.tsv filter=lfs diff=lfs merge=lfs -text
# WWTP
data/wwtp-data/full_data_example_WWTP_combined_data.tsv filter=lfs diff=lfs merge=lfs -text
data/wwtp-data/opera_properties_WWTP_combined_data.tsv filter=lfs diff=lfs merge=lfs -text
data/wwtp-data/model_data_example_basic_curation_nitrification_plants_only_WWTP_combined_data.tsv filter=lfs diff=lfs merge=lfs -text
data/wwtp-data/model_data_example_full_curation_criteria_WWTP_combined_data.tsv filter=lfs diff=lfs merge=lfs -text
data/wwtp-data/name_data_example_WWTP_combined_data.tsv filter=lfs diff=lfs merge=lfs -text
# Ferret
data/ferret/cpd_data_ferret_all.tsv filter=lfs diff=lfs merge=lfs -text
data/ferret/full_data_ferret_all.tsv filter=lfs diff=lfs merge=lfs -text
data/soil/TPs/TP_soil_without_DT50.tsv filter=lfs diff=lfs merge=lfs -text
data/soil/TPs/TPs_with_minormajor.tsv filter=lfs diff=lfs merge=lfs -text
data/soil/benchmarking/predictions_pepper.tsv filter=lfs diff=lfs merge=lfs -text
data/soil/benchmarking/predictions_vega.tsv filter=lfs diff=lfs merge=lfs -text
data/soil/benchmarking/cpd_data_soil_25.tsv filter=lfs diff=lfs merge=lfs -text
data/soil/benchmarking/predictions_biowin.tsv filter=lfs diff=lfs merge=lfs -text
